.frame102{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 72px;
    gap: 32px;
    
    /* width: 1440px; */
    width: 100%;
    height: 760px;
    
    background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 23.92%);
    border-radius: 0px 0px 80px 80px;
   
    flex: none;
    order: 11;
    flex-grow: 0;
}
.frame294{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    width: 700px;
    height: 266px;
   
    flex: none;
    order: 0;
    flex-grow: 0;
}
.heading{
    width: 391px;
    height: 77px;
   
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    margin-top: -75px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #121B64;
   
    flex: none;
    order: 0;
    flex-grow: 0;
}
.para{
    width: 700px;
    height: 72px;
  
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #32302F;

    margin-top: -32px;
 
    flex: none;
    order: 1;
    flex-grow: 0;
}
.frame239{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    
    width: 110px;
    height: 53px;
   
    background: #121B64;
    border-radius: 32px;
   
    flex: none;
    order: 2;
    flex-grow: 0;
}
.btn{
    /* width: 78px; */
    height: 21px;
    
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
   
    display: flex;
    align-items: center;
    text-align: center;
   
    color: #FFFFFF;

    background-color: transparent;
    border: none;

    flex: none;
    order: 0;
    flex-grow: 0;
}
@media screen and (max-width:1024px) {
    .frame102{
        width: 100%;
        height: 540px;
        order: 10;
        align-self: stretch;
    }
    .frame294{
        justify-content: center;
    }
    .para{
        margin: 0;
    }
}
@media screen and (max-width:375px) {
    .frame102{
        width: 100%;
        height: 317px;
        order: 11;
        padding: 0;
    }
    .frame294{
        justify-content: center;
        width: 327px;
        height: 221px;
    }
    .heading{
        width: 327px;
        height: 41px;
        font-size: 32px;
        margin-top: 24px;
        line-height: 41px;
        justify-content: center;
        margin-bottom: -2px;
    }
    .para{
        width: 327px;
        height: 63px;
        font-size: 16px;
        line-height: 21px;
        margin: 0;
    }
    .frame239{
        width: 110px;
        height: 53px;
        border-radius: 32px;
        padding: 0;
    }
}