.frame100{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 72px;
    gap: 32px;
    
    width: 100%;
    height: 760px;
    
    background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 17.24%, #FFFFFF 100%);
    border-radius: 0px 0px 80px 80px;
    
    flex: none;
    order: 9;
    flex-grow: 0;
}
.frame294{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 80px;
    
    width: 1296px;
    height: 431px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame290{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    width: 700px;
    height: 181px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
}
.heading{
    width: 309px;
    height: 77px;
    
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #121B64;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.subHeading{
    width: 700px;
    height: 72px;
   
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
   
    color: #32302F;
   
    flex: none;
    order: 1;
    flex-grow: 0;
}
.frame293{
    width: 1296px;
    height: 170px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.frame298{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    
    position: relative;
    width: 1060px;
    height: 150px;
    left: 118px;
    top: 10px;
}
.frame295{
    position: relative;
    width: 300px;
    height: 150px;
    
    background: #FFFFFF;
   
    flex: none;
    order: 0;
    flex-grow: 0;
}
.yourstory{
    position: absolute;
    width: 285px;
    height: 102px;
    left: 7px;
    top: 48px;    
}
.frame296{
    position: relative;
    width: 300px;
    height: 150px;
    
    background: #FFFFFF;
   
    flex: none;
    order: 1;
    flex-grow: 0;
}
.news18{
    position: absolute;
    width: 289px;
    height: 116px;
    left: 5px;
    top: 34px;    
}
.frame297{
    position: relative;
    width: 300px;
    height: 150px;
    
    background: #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.liveMint{
    position: absolute;
    width: 306px;
    height: 94px;
    left: -3px;
    top: 56px;    
}
@media screen and (max-width:1024px) {
    .frame100{
        justify-content: center;

        width: 100%;
        height: 600px;

        order: 8;
        align-self: stretch;
    }    
    .frame294{
        justify-content: space-between;
        
        width: 880px;
        height: 400px;
        
        align-self: stretch;
        flex-grow: 1;
    }
    .frame293{
        width: 880px;
        height: 170px;
     
        align-self: stretch;
    }
    .frame298{
        gap: 66.42px;

        width: 880px;
        height: 124.53px;
        left: 0px;
        top: 33.24px;
    }
    .frame295{
        width: 249.06px;
        height: 124.53px;
    }
    .yourstory{
        /* position: absolute; */
        width: 236.6px;
        height: 84.68px;
        left: 5.81px;
        top: 39.85px;
    }
    .frame296{
        width: 249.06px;
        height: 124.53px;
    }
    .news18{
        /* position: absolute; */
        width: 239.92px;
        height: 96.3px;
        left: 4.15px;
        top: 28.23px
    }
    .frame297{
        width: 249.06px;
        height: 124.53px;
    }
    .liveMint{
        /* position: absolute; */
        width: 254.04px;
        height: 78.04px;
        left: -2.49px;
        top: 46.49px;
    }

}
@media screen and (max-width:375px) {
    .frame100{
        width: 100%;
        height: 304px;
        padding: 0;

        order: 9;
    }    
    .frame294{
        width: 327px;
        height: 208px;
        align-self: stretch;
        flex-grow: 0;
    }
    .frame290{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        gap: 32px;
        
        width: 327px;
        height: 136px;
        
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    .heading{
        width: 155px;
        height: 41px;
        font-size: 32px;
        line-height: 41px;
        justify-content: center;
        margin-left: 36px;
    }
    .subHeading{
        width: 327px;
        height: 63px;
        font-size: 16px;
        line-height: 21px;    
        margin-left: 36px;    
    }
    .frame293{
        width: 327px;
        height: 40px;
    }
    .frame298{
        gap: 52.42px;
        margin-left: 8px;
        margin-top: -80px;
        width: 327px;
        height: 40px;
    }
    .frame295{
        width: 80px;
        height: 40px;
    }
    .yourstory{
        width: 76px;
        height: 27.2px;
        left: 1.87px;
        top: 12.8px;
    }
    .frame296{
        width: 80px;
        height: 40px;
    }
    .news18{
        width: 77.07px;
        height: 30.93px;
        left: 1.33px;
        top: 9.07px;
    }
    .frame297{
        width: 80px;
        height: 40px;
    }
    .liveMint{
        width: 81.6px;
        height: 25.07px;
        left: -0.8px;
        top: 14.93px;
    }

}