.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 100px 72px; */
    /* gap: 89px; */
    
    width: 100%;
    height: 760px;
    
    background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0.95) 35.27%);
    border-radius: 0px 0px 80px 80px;
    flex: none;
    order: 4;
    flex-grow: 0;
}
.frame273{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    margin: 100px 0px 100px 72px;
    
    width: 800px;
    height: 250px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame289{
    width: 500px;
    height: 500px;

    margin: 100px 72px 100px 0px;
    
    background: #F4F3F3;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.frame272{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 800px;
    height: 250px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.savings{
    width: 800px;
    height: 77px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #121B64;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#plus{
    color: #7E8139;
}
.getAccess{
    width: 700px;
    height: 72px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #32302F;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.frame207{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    
    width: 104px;
    height: 53px;
    border: 1px solid #121B64;
    border-radius: 55px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.Save{
    width: 72px;
    height: 21px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #121B64;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media only screen and (max-width: 1024px){
    .hero{
        width: 100%;
        height: 540px;

        order: 3;
        align-self: stretch;
    }
    .frame289{
        position: absolute;
        margin: 92.37px 72.4px 92.37px 596px;
        width: 355.56px;
        height: 355.26px;;
    }
    .frame272{
        position: absolute;
        width: 485px;
        height: 291px;
        left: 72px;
        top: calc(50% - 291px/2);        
    }
    .getAccess{
        width: 485px;
        height: 108px;
        align-self: stretch;
    }
    .frame207{
        width: 122px;
        height: 58px;
    }
    .Save{
        width: 90px;
        height: 26px;
        font-size: 20px;
        line-height: 26px;
    }

}
@media only screen and (max-width:375px){
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 48px 24px;
        gap: 24px; */
        position: relative;
        width: 100%;
        height: 631px;
    }
    .frame289{
        width: 327px;
        height: 327px;
        margin: -253px 0px 0px 0px;

        order: 0;
    }
    .frame272{
        justify-content: center;
        align-items: center;
       
        width: 327px;
        height: 184px;

        top: 0;
        left: 0;
        margin-top: 387px;
        
        position: absolute;
        
        order: 1;
        align-self: stretch;
    }
    .savings{
        width: 327px;
        height: 41px;
        font-size: 32px;
        line-height: 41px;
        justify-content: center;
        text-align: center;

        margin-left: 12px;
       
        color: #121B64;
        align-self: stretch;
    }
    .getAccess{
        width: 327px;
        height: 42px;
        
        margin-block-start: 0px;
        margin-block-end: 0;
        margin-left: 50px;
        font-size: 16px;
        line-height: 21px;

        align-self: unset;
    }
    .frame273{
        width: 0px;
        margin: 0;
    }
}